<!DOCTYPE html>
<html>
    <head>
        <title> Trial assessment</title>
    </head>
    <div class="container">
        <body>
            <h1> Trial assessments on toy problems and general knowledge</h1>
            <div class="row">
                <div class="col-md-6">
                    <h3><strong>Task:</strong></h3>
                    <p> You are given a string. Split the string on a " " (space) delimiter and join using a - hyphen. </p>
                    <h3><strong>Input Format:</strong></h3>
                    <p>The first line contains a string consisting of space separated words.</p>
                    <h3><strong>Output Format</strong></h3>
                    <p>Print the formatted string as explained above.</p>
                </div>
                <div class="col-md-6">
                    <h3><strong>Q1:</strong></h3>
                    <p> Who was the first president of the United States of America?</p>
                    <ul>
                        <li><input type="radio" id="ans1" name="answer" value="george">
                            <label for ="george">George Washington</label></li>
                        <li><input type="radio" id="ans2" name="answer" value="joe">
                            <label for ="george">Joe Biden</label></li>
                        <li><input type="radio" id="ans3" name="answer" value="bush">
                            <label for ="george">George Bush</label></li>
                        <li><input type="radio" id="ans4" name="answer" value="hillary">
                            <label for ="george">Hillary Clinton</label></li>
                    </ul>
                </div>
            </div>
        </body>
    </div>
</html>